@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.box-shadow {
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.13);
}

.height{
  min-height: 100dvh;
}


.no-scrollbar::-webkit-scrollbar{
  display: none;
}